@import "tailwindcss";

@theme {
  --color-primary: rgb(116, 119, 255);
  --color-font-primary: white;
  --color-primary-bg: #0f172a;
  --color-secondary-row: #1e293b;
  --font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-secondary: Pacifico, cursive;
  --section: flex py-32 items-center justify-between;
}

[data-theme="light"] {
  --color-primary: rgb(182, 182, 211);
  --color-font-primary: #222;
  --color-primary-bg: white;
  --color-secondary-row: lightGray;
}

@custom-variant theme-white {
  :where([data-theme="white"] *) {
    @slot;
  }
}

@layer components {
  .section {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: calc(var(--spacing) * 24);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-bg);
  color: var(--color-font-primary);
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0;
}

/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
